
<footer id="footer" style="width: 100%; background-color:#2B333E; height:60px;">
   
        <div class="" style = "color:#f4a950 ; vertical-align: center; text-align: center; padding-top:1%">
            &copy; oferto.al All Rights Reserved
        </div>
</footer>